<html>
  <head>
    <title>Doge Chat v0</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body align="center">
    <div class="topbar">
      <h4>DogeChat</h4>
    </div>
  </body>
</html>